* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card-image {
  width: 100%;
}
.slider {
  position: relative;
  width: 75%;
  height: 150px;
  overflow: hidden;
  cursor: grab;
}

.cards {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-gap: 20px;
  pointer-events: none;
}
